* {
  margin: 0px;
  padding: 0px;
}

body, input {
  color: white;
  background-color: rgb(10, 10, 10);
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 40px;
}

input[type='search']::-webkit-search-cancel-button{
  filter: brightness(100);
  margin-left: 5px;
}

.search {
  display: flex;
  padding: 5px;
  justify-content: space-between;
  background-color: rgb(15, 15, 15);
}

.search input {
  width: 100%;
  border: none;
  outline: none;
  padding: 10px;
}

.search img {
  padding: 5px;
}

.items {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.item {
  margin: 5px;
  display: flex;
  border-radius: 5px;
  background-color: rgb(15, 15, 15);
}

.tumb {
  width: 75px;
  height: 100px;
  margin: 5px;
  padding: 5px;
  background-color: rgb(10, 10, 10);
}

.info {
  overflow: hidden;
  text-overflow: ellipsis;
  
  width: 100%;
  height: 85%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info span {
  overflow: hidden;
  text-overflow: ellipsis;

  padding: 5px;
  font-size: 13px;
  border-radius: 5px;
  background-color: rgb(10, 10, 10);
}

.buttons {
  margin: 5px;
  display: flex;
  justify-content: space-around;
}

.buttons img {
  width: 25px;
}

.bar {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  background-color: rgb(15, 15, 15);
}

.bar img {
  opacity: 10%;
}

.bar img[alt="home"] {
  opacity: 100%;
}
